<div class="container mt-4">
  <div class="card rounded-4 shadow">
    <div class="card-header bg-primary text-white rounded-top-4">
      <h2>Detalhes do Plano</h2>
    </div>

    <div class="card-body">
      <h5 class="card-title"><%= @plan.name %></h5>
      <p class="card-text"><strong>Valor:</strong> <%= @plan.value %></p>
    </div>

    <div class="card-footer text-end">
      <%= link_to 'Voltar', plans_path, class: 'btn btn-outline-secondary' %>
      <%= link_to 'Editar', edit_plan_path(@plan), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
